name: Create a -built branch

on:
  workflow_call:
    inputs:
      php:
        default: "8.1"
        required: false
        type: string
      node:
        default: 16
        required: false
        type: number

jobs:
  built-branch:
    name: Built Branch
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: ⚠️ Deprecation Warning
        run: |
          echo "::warning title=Workflow Deprecated::This workflow (built-branch) is deprecated and will be removed in a future version. Please migrate to the action-release workflow (https://github.com/alleyinteractive/action-release)."
        shell: bash

      - uses: actions/checkout@v6

      - name: Clear previous vendor
        shell: bash
        run: rm -rf vendor

      - name: Install dependencies
        uses: php-actions/composer@v6
        with:
          php_version: ${{ inputs.php }}
          version: 2
          args: --prefer-dist --no-dev

      - name: Check if the plugin has front-end assets
        shell: bash
        id: has-node-assets
        run: |
          [[ -f package.json ]] && echo "exists=true" >> $GITHUB_OUTPUT || echo "exists=false" >> $GITHUB_OUTPUT

      - name: Setup Node
        if: steps.has-node-assets.outputs.exists == 'true'
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node }}

      - name: Install node dependencies (npm ci)
        if: steps.has-node-assets.outputs.exists == 'true'
        run: npm install

      - name: Run npm build
        if: steps.has-node-assets.outputs.exists == 'true'
        run: npm run build

      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Push to -built branch
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BUILT_BRANCH: '${{ steps.extract_branch.outputs.branch }}-built'
        run: |
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git config --global user.name "$GITHUB_ACTOR"

          rm -rf .gitignore docker_tag output.log .github

          if [[ -e "$GITHUB_WORKSPACE/.deployignore" ]]; then
            mv .deployignore .gitignore
          elif [[ -e "$GITHUB_WORKSPACE/.distignore" ]]; then
            mv .distignore .gitignore
          fi

          git ls-files -i -c --exclude-standard | xargs git rm --cached

          git checkout -b $BUILT_BRANCH

          git add -A && git commit -m "Changes from $GITHUB_SHA"
          git push --force -u origin "${BUILT_BRANCH}"
